/*GENRAL*/
#contact_body{
	font-size: 25px;
	overflow-x: hidden;
	background-image: url(../imgs/contact_background.jpg);
	background-size: cover;
	background-color :#e38e29;
	background-blend-mode: screen;
}

html.block-scroll{
	height: 100%;
	overflow: hidden;
}

.h2_contact{
	font-family: 'Staatliches', cursive;
	font-size:70px;
	background: linear-gradient(to right, #f9ae03,#ae03f9,#03f9f2);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

}
a:hover{
	background: #03e9f4;
	color: #fff;
	box-shadow: 0 0 5px #03e9f4,
				0 0 25px #03e9f4,
				0 0 50px #03e9f4,
				0 0 100px #03e9f4;
}
.left_div{
	margin-top:20%;
	margin-left:60%;
}
.right_div{
	margin-left:5%;
}
.special_p{
	font-family: 'Raleway', sans-serif;
	font-size:20px;
}
